* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}


.container {
    background-color: #f0f0f0;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .box {
    color: white;
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}